
@model  Customer 

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.BirthDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.ImagePath)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Image)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.CreatedOn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.CreatedBy)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.UpdatedOn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.UpdatedBy)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Language.LanguageId)
    </td>

    <td>
        <img width="150px" src="~/images/@Model.ImagePath" />
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
        <a asp-action="Details" asp-route-id="@Model.CustomerId">Details</a> |
        <a asp-action="Delete" asp-route-id="@Model.CustomerId">Delete</a>
    </td>
</tr>

