@using MVCDemo.ViewModels;
@model ResponcesDto


  @section x{
    <script src="/js/pdfobject.js"></script>

  }

@{
    ViewData["Title"] = "Index";
}


<h1> @Model.Filter?.Search </h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div  class="filter col-6">

   <form  asp-action="Index" method="get">
        <input   asp-for="@Model.Filter.Search" name="Search" placeholder="search " class="form-control" />

        <div>
            <input type="radio" asp-for="@Model.Filter.Gender" value="@Gender.Male" />  male

            <input type="radio" asp-for="@Model.Filter.Gender" value="@Gender.Female" />  Female

        </div>


       <div>
            <input asp-for="@Model.Filter.From" type="date" class="form-control" />
            <input asp-for="@Model.Filter.To" type="date" class="form-control" />
       </div>

        <button class="btn btn-primary">  search </button>
   </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Gender
            </th>
         
            <th>
                ImagePath
            </th>
            <th>
                image 
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customers) {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
                    @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
                    @Html.DisplayFor(modelItem => item.Gender)
        </td>
        
        <td>
            <img width="150px" src="~/images/@item.ImagePath" />

                   
        </td>

                <td>
                    <img width="150px" src="data:image/jpeg;base64,@item.Base64Image" />
                </td>

        <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
        </td>
    </tr>



}
    </tbody>
</table>




